/.idea/
/target/
/.flatpak-builder/
/build-dir/
/repo/
/analytics-backend/target/
/analytics-backend/src/main/resources/.env
/analytics-backend/.env
/siriuscorp-client/target/
/ardent-api-client/target/
